@import url('~antd/dist/antd.css');

body {
  font-size: 16px;
  font-family: 'PingFang SC';
}

@media (max-width: 1280px) {
  body,
  html {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  body,
  html {
    font-size: 11px;
  }
}

@media (max-width: 800px) {
  body,
  html {
    font-size: 10px;
  }
}

@media (max-width: 380px) {
  body,
  html {
    font-size: 8px;
  }
}
